@import '../../../globals/playground-variables';

.root {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gallery {
  // max-width: 65vw; ??
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // text-align: center;
  // margin: 2em 0em 0em;
  // column-gap: 4.5em;
  // row-gap: 4.8em;
}

.header {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: row;
  // font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  font-family: $font-alata;
  margin: 2.8em 0em 3.8em;
  text-wrap: pretty;
  max-width: 900px;
}

.footer {
  min-height: 5vh;
  // color: $primary;
  width: 100vw;
  // background-color: #ffffff;
  font-family: $font-geo;
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  // margin-right: 0em;
  // margin-left: 0em;
  box-shadow: 0 -1px $primary;
  justify-content: center;
}

.footer-text {
  font-family: $font-geo;
  font-size: 1rem;
  margin-left: 2em;
  margin-right: 2em;
}

a:link {
  color: $primary;
}

a:active {
  color: $primary;
}

.hint {
  position: absolute;
  // width: 100px;
  // height: 100px;
}

.componentHint {
  top: 20%;
  right: 22px;
}

.componentHint img {
  width: 265px;
}

.componentHintText {
  top: 42px;
}

.fontHint {
  left: -174px;
  top: 50%;
}

.fontHint img {
  width: 225px;
}

.fontHintText {
  top: 92px;
}

.buttonHint {
  right: 170px;
  bottom: 20%;
}

.buttonHint img {
  width: 220px;
}

.buttonHintText {
  bottom: 40px;
}

.layoutHint {
  top: -38%;
  right: 65px;
}

.layoutHint img {
  width: 272px;
}

.layoutHintText {
  top: 110px;
}

// --- MEDIA QUERIES ---

@media (1400px <= width) {
  .root {
    padding-right: 40px;
    padding-left: 40px;
  }

  .content {
    background-color: palegoldenrod;
    max-width: 1400px;
  }
  .gallery {
    // gap: 5.5em 4em;
    gap: 6vw 3vw;
    padding-left: 240px;
    padding-right: 240px;
  }
}

// @media (1200px <= width < 1400px) {
//   .root {
//     padding-right: 40px;
//     padding-left: 40px;
//   }

//   .content {
//     background-color: lightgreen;
//   }
//   .header {
//     max-width: 700px;
//   }

//   .gallery {
//     gap: 7.5em 3em;
//     padding-left: 240px;
//     padding-right: 240px;
//   }

//   .componentHint {
//     right: 40px;
//   }
// }

@media (980px <= width < 1400px) {
  .root {
    padding-right: 32px;
    padding-left: 32px;
  }

  .content {
    background-color: whitesmoke;
    max-width: 1200px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 7vw 5vw;
    padding-left: 160px;
    padding-right: 160px;
  }

  .layoutHint img {
    width: 250px;
  }

  .fontHint img {
    width: 210px;
  }

  .footer {
    font-size: 0.8rem;
    margin-top: 6em;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .componentHint {
    left: 180px;
    top: -12%;
  }

  // .componentHint img {
  //   // transform: skewY(180deg);
  // }
}

@media (420px <= width < 980px) {
  .root {
    padding-right: 32px;
    padding-left: 32px;
  }

  .content {
    background-color: gold;
    max-width: 650px;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 14vw 6vw;
  }

  .fontHint img {
    width: 210px;
  }

  .fontHint {
    top: 55%;
    left: 110px;
  }

  .fontHintText {
    top: 85px;
  }

  .componentHint img {
    width: 210px;
  }

  .componentHintText {
    top: 18px;
  }

  .componentHint {
    top: -60%;
    left: 50px;
  }

  .layoutHint img {
    width: 180px;
  }

  .buttonHint img {
    width: 180px;
  }

  .footer {
    font-size: 0.8rem;
    margin-top: 6em;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .componentHint {
    right: 30px;
    top: 5%;
  }
}

@media (width < 420px) {
  .root {
    padding-left: 24px;
    padding-right: 24px;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .footer {
    font-size: 0.8rem;
    margin-top: 6em;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

.dark {
  color: $secondary;
  background-color: $bauhaus-charcoalblack;
}
