@use '../../../src/globals/variables.module.scss';

.root {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: variables.$lesson-bg-color;
  font-family: variables.$font-family-text;
  padding: variables.$lesson-padding;
  gap: variables.$lesson-gap;
  height: 641px;

  .playground {
    overflow: hidden;
    background-color: variables.$playground-bg-color;
    border-radius: variables.$playground-border-radius;
    width: variables.$playground-width;
    height: variables.$playground-height;

    // lesson specific
    background-image: url('../../../src/assets/golden-pot.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
}

.sparkles {
  width: variables.$playground-width;
  height: variables.$playground-height;
  background-image: url('../../../src/assets/sparkels.gif');
}
