@use './variables.module.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.root {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: $lesson-bg-color;
  font-family: $font-family-text;

  flex-grow: 1;
  overflow-y: auto;
  place-items: center;
}

.lesson {
  display: flex;
  gap: $lesson-gap;
}

.playground {
  overflow: hidden;
  position: relative;
  background-color: $playground-bg-color;
  border-radius: $playground-border-radius;
  width: $playground-width;
  height: $playground-height;
}
