@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Gabarito:wght@400;500;600;700;800;900&family=Geo:ital@0;1&family=Gloock&family=Italiana&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Paytone+One&family=Silkscreen:wght@400;700&family=Tilt+Warp&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #000000;
$secondary: #ffffff;
$bauhaus-blue: #7fc2f4;
$bauhaus-red: #ff2f2f;
$bauhaus-orange: #ff5b2b;
$bauhaus-goldyellow: #ffb615;
$bauhaus-dirtywhite: #dcd9bf;
$disabled: #d9d9d9;

$font-alata: 'Alata', sans-serif;
$font-dm-sans: 'DM Sans', sans-serif;
$font-gabarito: 'Gabarito', sans-serif;
$font-geo: 'Geo', sans-serif;
$font-gloock: 'Gloock', serif;
$font-italiana: 'Italiana', sans-serif;
$font-libre-caslon-display: 'Libre Caslon Display', serif;
$font-libre-caslon-text: 'Libre Caslon Text', serif;
$font-paytone-one: 'Paytone One', sans-serif;
$font-silkscreen: 'Silkscreen', sans-serif;
$font-tilt-warp: 'Tilt Warp', sans-serif;
$font-urbanist: 'Urbanist', sans-serif;
