@use '../../globals/variables.module.scss' as *;

.roundCheckboxContainer {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.roundCheckboxContainer .roundCheckbox {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid $charcoal-black;
}

.roundCheckboxContainer .roundCheckbox:checked ~ .checkmark:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: $charcoal-black;
  border-radius: 50%;
}
