@use '../../../src/globals/variables.module.scss' as *;
@use '../../../src//globals/lessons.module.scss' as *;

.playground {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 128px 75px 92px 75px;

  font-style: italic;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: $orange-red;
  background-color: $pastel-pink;
}

.quote {
  span {
    color: $pastel-pink;
  }
}

.author {
  color: $pastel-pink;
  font-size: 18px;
}
