@use '../../globals/variables.module.scss' as *;

.task {
  color: $font-color;
  background-color: $task-bg-color;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: $task-width;
}

.progress {
  font: $task-font-progress;
  letter-spacing: 0.2em;
}

.title {
  font: $task-font-title;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}

.desc {
  font: $task-font-description;
  text-align: $task-text-align;
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1rem;
  margin-top: 0;

  li:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  li:first-of-type {
    list-style-type: none;
    margin-left: -1rem;
  }
}

.menuIcon {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  background-color: #000000;
}

.upperMenuIcon,
.lowerMenuIcon {
  width: 16px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
}

.upperMenuIcon {
  top: 24px;
  left: 25px;
}

.lowerMenuIcon {
  top: 32px;
  left: 16px;
}

.roundIcon {
  width: 60px;
  border-radius: $box-border-radius-circle;
  padding: 14px;
}

.socialIcon {
  height: 30px;
  width: 30px;
}

.startLessonButton {
  font: $card-button-text;
  background-color: $white;
  color: $black;
  padding: 9px 46px 11px;
  cursor: pointer;
  border: 0;
}
