@use './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Madefor for Text*/
@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 400;
  src: url(../assets/fonts/wix-made-for-text-w-rg.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/wix-made-for-text-w-it.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 700;
  src: url(../assets/fonts/wix-made-for-text-w-bd.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/wix-made-for-text-w-bd-it.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 800;
  src: url(../assets/fonts/wix-made-for-text-w-xbd.woff2) format('woff2');
}

@font-face {
  font-family: Madefor;
  font-display: swap;
  font-weight: 800;
  font-style: italic;
  src: url(../assets/fonts/wix-made-for-text-w-xbd-it.woff2) format('woff2');
}

/* Madefor Display */
@font-face {
  font-family: 'MadeforDisplay';
  font-display: swap;
  font-weight: 400;
  src: url(../assets/fonts/wix-made-for-display-w-rg.woff2) format('woff2');
}

@font-face {
  font-family: 'MadeforDisplay';
  font-display: swap;
  font-weight: 700;
  src: url(../assets/fonts/wix-made-for-display-w-bd.woff2) format('woff2');
}

@font-face {
  font-family: 'MadeforDisplay';
  font-display: swap;
  font-weight: 800;
  src: url(../assets/fonts/wix-made-for-display-w-xbd.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: Madefor, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.newPage {
  text-align: center;
  place-content: center;
  padding: 56px;
  height: calc(100vh - 50px);

  h1,
  h2 {
    text-wrap: pretty;
    line-height: 48px;
    font-family: MadeforDisplay;
    font-weight: 800;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -0.5px;
  }

  h2:not(:last-of-type) {
    margin-bottom: 58px;
  }

  .boxes {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    rect {
      translate: -15% -200vh;
      animation: fall 3.2s forwards ease-in calc(var(--idx) * 0.03s);
      scale: 1.5;
    }

    rect:nth-of-type(2n) {
      animation-duration: 3.8s;
    }
  }

  @keyframes fall {
    to {
      translate: -15% 500vh;
    }
  }
}
