@use '../../../src/globals/variables.module.scss';

.root {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: variables.$lesson-bg-color;
  font-family: variables.$font-family-text;
  padding: variables.$lesson-padding;
  gap: variables.$lesson-gap;
  height: 641px;

  .playground {
    overflow: hidden;
    background-color: variables.$playground-bg-color;
    border-radius: variables.$playground-border-radius;
    width: variables.$playground-width;
    height: variables.$playground-height;

    // lesson specific
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    padding: 160px 80px 160px 80px;
    gap: 30px;
  }
}

// lesson specific
.icon {
  border-radius: variables.$box-border-radius-circle;
  padding: 12px;
}
