.root {
    min-height: 400px;
    width: 100%;
}

.image {
    width: 100%;
    padding: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.button {
    padding: 0px 5px;
    font-size: 10px;
    background-color: #ffffff;
    width: 90%;
    height: 3em;
    border-radius: 30px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}

.details {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0em 0em 0em 2em;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.price {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
    padding-right: 2em;
}