@import '../../../src/globals/variables.module.scss';
@import '../../../src//styles/lesson.module.scss';

.root .playground {
    position: relative;
    display: flex;
    flex-direction: column;
}

.eye {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;

    &.top {
        background-image: url('../../../src/assets/eye.svg');
        background-color: $charcoal-black;
    }

    &.bottom {
        background-image: url('../../../src/assets/eye.svg');
        background-color: $gold-yellow;
    }
}