@import '../tasks/task.module.scss';

.task {
  background-color: unset;

  .title {
    padding-top: 0;
    /* compensation for the top space included with the glyph */
    transform: translateY(-7px);
  }
}
.link {
  text-decoration-line: underline;
}
