@import '../../globals/playground-variables';

.root {
    position: absolute;
    z-index: 1;
}

.container {
    position: absolute;
    color: $primary;
}

.hintText{
    position: absolute;
    left: 52%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 0.78rem;
    font-family: $font-alata;
    text-align: center;
    white-space: pre;
}

