@use '../../globals/variables.module.scss' as *;

.root {
  display: flex;
  background-color: $charcoal-black;
  height: 100%;
  color: $white;
  padding: 30px 60px 60px;
  align-items: center;
}

.body {
  flex-grow: 1;
}

.title {
  font: $header;
  line-height: 70px;
  margin-bottom: 30px;
}

.description {
  font: $description;
  line-height: 28px;
  margin-bottom: 30px;
  width: 436px;
}
