@use '../../globals/variables.module.scss';

.root {
  display: flex;
  background-color: variables.$charcoal-black;
  height: 100%;
  color: variables.$white;
  padding: 30px;
  align-items: center;
  aspect-ratio: 3.8/2.5;
}

.body {
  flex-grow: 1;
}

.title {
  font: variables.$header;
  margin-bottom: 30px;
}

.description {
  font: variables.$description;
  margin-bottom: 30px;
  width: 70%;
}
