.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  padding: 14px 26px;
  flex-shrink: 0;
}

.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navButtons {
  display: flex;
  gap: 8px;
}

.boldText {
  transition: font-weight 0.2s;
  &:hover {
    font-weight: 800;
  }
}
