@use '../../globals/variables.module.scss' as *;

.root {
  background-color: $black;
  color: $white;
  padding: 2vw;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  line-height: 18px;
  font-weight: 800;
  font-style: italic;
  font-size: 3vw;
}
