@import '../../../globals/variables.module.scss';
@import '../../../globals/playground-variables.scss';

.root {
    min-height: 400px;
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    padding: 0px;
}

.button {
    font-size: 0.7rem;
    height: 3.4em;
    border-radius: 30px;
    border: #ffffff;
    display: block;
    margin: auto;
    font-family: $font-dm-sans;
    text-transform: uppercase;
    width: 85%;
}

.details {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 0.7em;
    font-size: 1.7rem;
    font-family: $font-italiana;
}

.description {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0.2em;
    font-size: 0.7rem;
    box-sizing: border-box;
    font-family: $font-dm-sans;
}

.price {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
    font-family: $font-geo;
    font-size: 2rem;
    line-height: 1.8rem;

}

.title {
    font-family: $font-italiana;

}

.cardetails {
    flex-direction: column;
    padding-right: 2em;
    padding-left: 2em;
    margin: 0.8em 0em 1em;

}

.layout {
    display: flex;
    flex-direction: column;
}

// --- MEDIA QUERIES ---

@media (max-width: 1400px) {
    .button {
        width: 90%;
        background-color: $disabled;
    }

    .description {
        font-size: 0.7rem;
    }

    .price {
        font-size: 1.4rem;
        font-size: 1.7rem;
        padding-bottom: 0.4em;
    }

    .title {
        font-size: 1.8rem;
    }

    .cardetails {
        padding-right: 0.8em;
        padding-left: 0.8em;
    }
}

@media (max-width: 900px) {
    .details {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 0.2em;
    }

    .price {
        align-items: start;
    }
}

.hintposition {
    position: relative;
}